<div>
    <h2 style="font-family: 'Libre Baskerville', serif;"><u>Project</u></h2>
    <dl> <dt>Store Management System</dt>
        <dd>A C project that helps to Use in Store Desk as - </dd>
        <dd><ul>      
            <li>Product Quantities.</li>
            <li>Product Prices.</li>
            <li>Customer Bills.</li>
            <li>Data will save in txt file.</li>
        </ul></dd>
        <dt>Password-Generator</dt>
        <dd>A  Object Oriented Effective java programming to generate
            strong password. Having features</dd>
        <dd><ul>
            <li>Generating Password.</li>
            <li>Checking Password Strength</li>
            <li>Display Usefull Information</li>
        </ul></dd>
    </dl>

</div>